## Importing libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Importing dataset

In [2]:
df = pd.read_csv("data/PuneHouseData.csv")

In [3]:
df.head(10)

,area_type,availability,size,society,total_sqft,bath,balcony,price,site_location
0,Super built-up Area,19-Dec,2 BHK,Coomee,1056,2.0,1.0,39.07,Alandi Road
1,Plot Area,Ready To Move,4 Bedroom,Theanmp,2600,5.0,3.0,120.00,Ambegaon Budruk
2,Built-up Area,Ready To Move,3 BHK,NaN,1440,2.0,3.0,62.00,Anandnagar
3,Super built-up Area,Ready To Move,3 BHK,Soiewre,1521,3.0,1.0,95.00,Aundh
4,Super built-up Area,Ready To Move,2 BHK,NaN,1200,2.0,1.0,51.00,Aundh Road
5,Super built-up Area,Ready To Move,2 BHK,DuenaTa,1170,2.0,1.0,38.00,Balaji Nagar
6,Super built-up Area,18-May,4 BHK,Jaades,2732,4.0,NaN,204.00,Baner
7,Super built-up Area,Ready To Move,4 BHK,Brway G,3300,4.0,NaN,600.00,Baner road
8,Super built-up Area,Ready To Move,3 BHK,NaN,1310,3.0,1.0,63.25,Bhandarkar Road
9,Plot Area,Ready To Move,6 Bedroom,NaN,1020,6.0,NaN,370.00,Bhavani Peth

## EDA

In [4]:
df.shape

(13320, 9)

In [5]:
df.describe()

               bath       balcony         price
count  13247.000000  12711.000000  13320.000000
mean       2.692610      1.584376    112.565627
std        1.341458      0.817263    148.971674
min        1.000000      0.000000      8.000000
25%        2.000000      1.000000     50.000000
50%        2.000000      2.000000     72.000000
75%        3.000000      2.000000    120.000000
max       40.000000      3.000000   3600.000000

In [6]:
df.dtypes

area_type         object
availability      object
size              object
society           object
total_sqft        object
bath             float64
balcony          float64
price            float64
site_location     object
dtype: object

In [7]:
df.society.value_counts()

GrrvaGr    80
PrarePa    76
Sryalan    59
Prtates    59
GMown E    56
           ..
Amionce     1
JaghtDe     1
Jauraht     1
Brity U     1
RSntsAp     1
Name: society, Length: 2688, dtype: int64

In [8]:
df.site_location.value_counts()

Alandi Road            139
Kalyani Nagar          139
Mahatma Gandhi Road    139
Lulla Nagar            139
Laxmi Road             139
                      ...
Sadashiv Peth          138
Raviwar Peth           138
Rasta Peth             138
Ghorpadi               138
other                    1
Name: site_location, Length: 97, dtype: int64

## Removing some columns

In [16]:
cdf = df.drop(["area_type","availability","society"], axis=1)

In [17]:
cdf.head(10)

        size total_sqft  bath  balcony   price    site_location
0      2 BHK       1056   2.0      1.0   39.07      Alandi Road
1  4 Bedroom       2600   5.0      3.0  120.00  Ambegaon Budruk
2      3 BHK       1440   2.0      3.0   62.00       Anandnagar
3      3 BHK       1521   3.0      1.0   95.00            Aundh
4      2 BHK       1200   2.0      1.0   51.00       Aundh Road
5      2 BHK       1170   2.0      1.0   38.00     Balaji Nagar
6      4 BHK       2732   4.0      NaN  204.00            Baner
7      4 BHK       3300   4.0      NaN  600.00       Baner road
8      3 BHK       1310   3.0      1.0   63.25  Bhandarkar Road
9  6 Bedroom       1020   6.0      NaN  370.00     Bhavani Peth

## Handling missing data

In [18]:
cdf1 = cdf.dropna()

In [19]:
cdf1.head(10)

         size total_sqft  bath  balcony   price    site_location
0       2 BHK       1056   2.0      1.0   39.07      Alandi Road
1   4 Bedroom       2600   5.0      3.0  120.00  Ambegaon Budruk
2       3 BHK       1440   2.0      3.0   62.00       Anandnagar
3       3 BHK       1521   3.0      1.0   95.00            Aundh
4       2 BHK       1200   2.0      1.0   51.00       Aundh Road
5       2 BHK       1170   2.0      1.0   38.00     Balaji Nagar
8       3 BHK       1310   3.0      1.0   63.25  Bhandarkar Road
10      3 BHK       1800   2.0      2.0   70.00        Bibvewadi
11  4 Bedroom       2785   5.0      3.0  295.00           Bopodi
12      2 BHK       1000   2.0      1.0   38.00     Budhwar Peth

In [20]:
cdf1.site_location.value_counts()

Nana Peth         136
Dhayari Phata     136
Sasson Road       136
Kalyani Nagar     136
Kasba Peth        136
                 ...
Vadgaon Budruk    128
Khadaki           128
Aundh             128
Manik Bagh        127
other               1
Name: site_location, Length: 97, dtype: int64

## Encoding categorical data

## Splitting dataset into training set and testing set

## Feature scaling